@model Usuario;

@{
    Layout = "~/Views/Shared/_Layout_Externo.cshtml";
}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
            <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <a href="@Url.Action("Index","Home")" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                <img src="~/images/logo-light.svg" alt="">
                            </a>
                            <p class="text-center">Registro de Usuarios</p>
                            
                            
                            <form asp-action="CrearCuenta" asp-controller="Login">
                 

                                <div class="mb-3">
                                    <label  class="form-label">Identificacion</label>
                                    <!--@Html.TextBoxFor(mbox => mbox.Identificacion, new {@class="form-control"})-->
                                    <input type="text" asp-for="Correo" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputtext1" class="form-label">Nombre</label>
                                    <!--@Html.TextBoxFor(m => m.Name, new {@class="form-control"})-->
                                    <input type="text" asp-for="Correo" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                                    <!--@Html.TextBoxFor(m=> m.Correo, new {@class="form-control", @type ="email" })-->
                                    <input type="email" asp-for="Correo" class="form-control">
                                </div>

                                <div class="mb-4">
                                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                                    <!--@Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password" })-->
                                    <!-- @Html.PasswordFor(m => m.Password, new { @class = "form-control"}) -->
                                    <input type="password" asp-for="Correo" class="form-control"> 
                                </div>

                                <input type ="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4" value="Procesar" >


                                <div class="d-flex align-items-center justify-content-center">
                                    <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                                    <a class="text-primary fw-bold ms-2" href="@Url.Action("InicioSesion","Login")">Iniciar Sesión</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>